
body {
    background-color: black;

}

h1, h2, h3, p, ul {
    background-color: black;
    color: white;
    margin-left: 20rem;
    margin-right: 20rem;
}

h1 {
    font-family: "miller-display", serif;
font-weight: 400;
font-style: normal;
font-size: 60px;
color: #A6917E;
}

h2, h3 {
    font-family: "miller-display", serif;
font-weight: 400;
font-style: normal;
font-size: 2.5rem;
color: #A6917E;
}

p, ul {
    font-family: "mixta-sharp-alt", serif;
    font-weight: 200;
    font-style: normal;
    font-size: x-large;
    padding-top: 0.75rem;
}

p {
    
}

#cover {
   margin-left: 0%;
   margin-right: 0%;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 25rem;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

#nav, li {
margin-left: 5rem;       
display: inline-block;
text-decoration: none;
list-style-type: none;
position: relative;
right: 7.5rem;
margin-top: 0.125rem;
margin-bottom: 0.125rem;
font-size: large;
}

#contactinfo {
    margin-left: 20rem;
    font-family: "mixta-sharp-alt", serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    color: white;  
    
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

#bruno {
    position: relative;
    bottom: 2.5rem;
    font-size: 1rem;
}

#wholething {
    position: relative;
    top: 5rem;
    max-width: 2000px;
}

h2 {
    position: relative;
    top: 1.25rem;
}

#notion  {
 position: relative;
 right: 18.75rem;
}

#email {
    position: relative;
    top: 1.875rem;
    right: 33.625rem;
}

.icon {
    position: relative;
    left: 59.375rem;
    bottom: 3.1rem;
    width: 2.188rem;
    height: 2.188rem;
}

#closing {
    margin-left: 21.25rem;
    margin-right: 43.75rem;
    font-size: 1.125rem;
}