
body {
    background-color: black;
    
}

h1, h2, h3, p, ul {
    background-color: black;
    color: white;
  margin-left: 25%;
  margin-right: 25%;
    
}

h1 {
    font-family: "miller-display", serif;
font-weight: 400;
font-style: normal;
font-size: 3.75rem;
color: #A6917E;
}

h2, h3 {
    font-family: "miller-display", serif;
font-weight: 400;
font-style: normal;
font-size: 2.5rem;
color: #A6917E;
}

p, ul {
    font-family: "mixta-sharp-alt", serif;
    font-weight: 200;
    font-style: normal;
    font-size: x-large;
}




#cover {
   margin-left: 0%;
   margin-right: 0%;
   max-width: 2000px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 25rem;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

#nav, li {
margin-left: 5rem;       
display: inline-block;
text-decoration: none;
list-style-type: none;
position: relative;
right: 7.5rem;
margin-top: 0.125rem;
margin-bottom: 0.125rem;
font-size: large;
padding-top: 10px;
}

    


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

#bruno {
    position: relative;
    bottom: 2.5rem;
    font-size: 1rem;
}

#wholething {
    position: relative;
    top: 5rem;
    max-width: 2000px;
}

h2 {
    position: relative;
    top: 1.25rem;
}

#notion, #email {
    font-size: 1.125rem;
}



#closing, .contactinfo {
    margin-left: 35%;
    margin-right: 30%;
    font-size: 1.125rem;
    text-align: center;
    width: 400px;
}

li:hover {
    color: grey;
}



.contactinfo :hover {
    color: grey;
}

footer {
    height: 18.75rem;
}

